@model InvoiceManagementSystem.Models.WaterBill

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>WaterBill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterBillSerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterBillSerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterBillSequenceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterBillSequenceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterBillCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterBillCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterBillPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterBillPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterBillDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterBillDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterBillDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterBillDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterBillStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterBillStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WaterBillID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
