@model IEnumerable<InvoiceManagementSystem.Models.WaterBill>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Su Faturası Bölümü</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Yeni Oluştur</a>
    <a asp-action="CreateBatch" class="btn btn-outline-primary">Toplu Ödeme Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WaterBillSerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterBillSequenceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterBillCompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterBillPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterBillDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterBillDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterBillStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WaterBillSerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterBillSequenceNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterBillCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterBillPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterBillDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterBillDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterBillStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WaterBillID">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.WaterBillID">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.WaterBillID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
