@model InvoiceManagementSystem.Models.ElectricityBill

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ElectricityBill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectricityBillSerialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectricityBillSerialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectricityBillSequenceNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectricityBillSequenceNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectricityBillCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectricityBillCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectricityBillPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectricityBillPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectricityBillDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectricityBillDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectricityBillDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectricityBillDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ElectricityBillStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ElectricityBillStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ElectricityBillID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
