@model IEnumerable<InvoiceManagementSystem.Models.Dues>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
    
<h1>Aidat Bölümü</h1>
<p>
    <a asp-action="Create" class="btn btn-outline-success">Yeni Oluştur</a>
    <a asp-action="CreateBatch" class="btn btn-outline-primary">Toplu Ödeme Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DuesID">Düzenle</a> |
                <a asp-action="Details" asp-route-id="@item.DuesID">Detaylar</a> |
                <a asp-action="Delete" asp-route-id="@item.DuesID">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
